@import url("https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* All */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1ebca;
}

/* Landing Page */
h1,
h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}

h1 {
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

header {
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #c62368;
}

header div.title {
  margin: 4rem auto 0;
  width: 80%;
  gap: 3rem;
  align-items: center;
  text-align: left;
}

header div.title img {
  width: 400px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    /* transform: translateY(0); */
    transform: rotate(-5deg);
  }
  50% {
    /* transform: translateY(20px); */
    transform: rotate(5deg);
  }
}

header p {
  background-image: linear-gradient(-45deg, darkblue, darkorchid);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 1rem 0 1rem 0;
  color: #f1ebca;
  margin-top: 1rem;
}

header div.wave {
  position: absolute;
  width: 100%;
  bottom: -11rem;
}

header div.wave img {
  width: 100%;
}

/* Navbar */
nav {
  background: linear-gradient(180deg, hsla(348, 88%, 66%, 1) 0%, hsla(36, 89%, 68%, 1) 99%);
  padding: 0 15rem;
  justify-content: space-between;
  place-items: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

ul > li {
  list-style: none;
  margin: 0 1rem;
}

ul li a {
  text-decoration: none;
  color: #f1ebca;
  transition: 400ms;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 12px;
}

ul li a:hover {
  background-color: #f1ebca;
  color: #191970;
}

/*  Main */
main.first {
  margin: 8rem 0 0 0;
  width: 100%;
  color: #191970;
}

main section {
  padding: 4rem 8rem;
  place-items: center;
  justify-content: center;
  text-indent: 1rem;
}

main section div.flex {
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
}

/* Div for image */
img.sample {
  margin: 0 2rem;
  border: 2px solid;
  padding: 0;
  background-size: cover;
  border-radius: 10px;
  transition: 400ms;
  aspect-ratio: 3/4;
}

img.sample:hover {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
  transform: translateX(-2px);
  transform: translateY(-2px);
}

/*  General */
.flex {
  display: flex;
}

.p-6rem {
  padding: 0 6rem;
}

.border {
  border: 2px solid;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -7px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  transition: all 0.5s;
}
/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:last-child {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(245, 245, 245);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:last-child {
  background-color: rgb(245, 245, 245);
  transform: rotate(-45deg) translate(1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

main:has(aside) {
  padding: 0 10rem;
}
/* section last start */
section.last {
  background-image: linear-gradient(-45deg, darkblue, darkorchid);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  color: #f1ebca;
  text-align: justify;
}

section.last h2 {
  padding: 1rem 0;
}
section.last h2 + p {
  text-indent: 1rem;
}

/* Gaya untuk Definition List */
dl {
  margin: 0;
  padding: 0;
}

/* Gaya untuk Definition Term */
dt {
  font-weight: bold;
  margin-top: 10px;
}

/* Gaya untuk Definition Description */
dd {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* section last end */

/* Aside Start */
aside {
  font-size: 12px;
  border: 2px solid #f55c7b;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

aside .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 100%;
  filter: drop-shadow(4px 4px 10px 0 rgba(0, 0, 0, 0.8));
}

aside h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

.contact img {
  width: 30px;
  margin: 0 0.5rem;
  transition: all 400ms;
}

.contact img:hover {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
  transform: scale(1.2);
}
/* Aside End */

footer {
  background-color: #c62368;
  margin-top: 3rem;
  padding: 1.5rem 0 1rem 0;
  color: #f1ebca;
  justify-content: center;
  position: relative;
}

footer a {
  position: absolute;
  top: -30px;
  cursor: pointer;
  transition: 400ms;
}

footer a:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

/* Tampilan pada Tablet */
@media screen and (max-width: 850px) {
  body {
    font-size: 12px;
    width: 100vw;
  }

  nav {
    padding: 0 8rem;
  }

  header div.title {
    flex-direction: column;
  }

  div.title div,
  div.title p {
    text-align: center;
  }

  header div.wave {
    bottom: -6rem;
  }

  main section {
    padding: 1rem 0;
    place-items: center;
    justify-content: center;
  }

  main:has(aside) {
    flex-direction: column;
    padding: 0 5rem;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
  }

  aside {
    width: 50%;
  }
}

/* Tampilan pada Phone */
@media screen and (max-width: 576px) {
  body {
    width: 100vw;
  }

  section > h2 {
    margin-top: 2rem;
  }

  h2 + div {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  div.title div,
  div.title p {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    line-height: 0.9;
    margin-bottom: 1rem;
  }

  header div.title img {
    width: 250px;
  }

  header div.wave {
    bottom: -4rem;
  }

  /* Mengambil section ganjil supaya image berada di bawah judul */
  section:nth-child(odd) h2 + div {
    flex-direction: column;
  }

  header {
    height: 100vh;
  }

  main section {
    padding: 0;
    width: 100%;
  }

  main.p-2rem {
    padding: 0 2rem;
  }

  nav {
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  /* Memunculkan hamburger menu */
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(-45deg, #00008b, #9932cc);
    z-index: 1;
    transition: all 0.5s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
  }

  main:has(aside) {
    flex-direction: column;
    padding: 0 1.5rem;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
  }

  section.last h2 {
    padding-top: 0;
  }

  .contact {
    flex-direction: row;
    justify-content: center;
  }

  aside {
    width: auto;
  }
}
