@import url("https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* All */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f1ebca;
}

/* Landing Page */
h1,
h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  text-align: center;
}

h1.title {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

header {
  height: 100vh;
  background-image: url("./assets/jumbotron.png");
  background-size: cover;
}

/* Navigation */
nav {
  background: linear-gradient(180deg, hsla(348, 88%, 66%, 1) 0%, hsla(36, 89%, 68%, 1) 99%);
  padding: 0 15rem;
  justify-content: space-between;
  place-items: center;
  position: sticky;
  top: 0;
}

ul > li {
  list-style: none;
  margin: 0 1rem;
}

ul li a {
  text-decoration: none;
  color: white;
  transition: 400ms;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 12px;
}

ul li a:hover {
  background-color: #caecee;
  color: #191970;
}

div.jumbotron {
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
}

/*  Main */
main {
  margin: 0;
  width: 100vw;
  color: #191970;
}

main div {
  padding: 4rem 8rem;
  place-items: center;
  justify-content: center;
}

div#desc p {
  text-align: justify;
}

/*  flex */
.flex {
  display: flex;
}

/* Div for image */
div.image {
  border: 2px solid;
  padding: 0;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
}
